APP_NAME="CareLink TB"
APP_ENV=production
APP_KEY=base64:IN47sGGB+HiZ5Mt6ZPcx9uRpNxEBjXlYmnuK+nP7l/8=
APP_DEBUG=false
APP_URL=http://localhost:8080

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=carelink_tb
DB_USERNAME=carelink
DB_PASSWORD=carelink

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local

WAIT_FOR_DB=true
AUTO_MIGRATE=true
